# ########################################################
#
# Tool configuration for backup program
#
# File:       pyproject.toml
# Author:     Lorn B Kerr
# Copyright:  (c) 2022, 2023 Lorn B Kerr
# License:    MIT, see file LICENSE
#
# ########################################################


[tool.isort]
profile = 'black'
multi_line_output = 3
src_paths = './src/*'

[tool.flake8]
max-line-length = 88
filename = '*.py'
exclude = ['*git', '__pycache__', 'docs', 'build', 'dist', '*venv', 'pending', 'tests', "*form.py"]
ignore = ['F841', 'W503']
per-file-ignores = '__init__.py:F401'

[tool.pydocstyle]
inherit = false
match = '(?!test_).*\.py'
match-dir='./src/*'

[tool.black]
force-exclude = "src/default_config.py"

[tool.pytest]
addopts = "--cov-report term-missing --cov=./src/ --cov-context=test"
filterwarnings = "error::ResourceWarning"

