# ########################################################
#
# Requirements file for Backup program virtual environment
#
# File:       requirements.txt
# Author:     Lorn B Kerr
# Copyright:  (c) 2022 Lorn B Kerr
# License:    see file LICENSE
#
# ########################################################

# local project library
-e ../../development/lbk_library


# Test PyPi url
#--extra-index-url https://test.pypi.org/simple/

# local project library
lbk_library

# Testing Requirements
black
coverage
flake8
isort
PyInstaller
pydocstyle
pytest
pytest_cover
pytest_qt
PyQt6
tox

