# ########################################################
#
# Requirements for Backup program virtual environment
#
# File:       requirements.txt
# Author:     Lorn B Kerr
# Copyright:  (c) 2022,2023 Lorn B Kerr
# License:    MIT, see file LICENSE
#
# ########################################################

# Run time requirements
PySide6

# local project library
-e ../lbk_library/

# Testing Requirements
black
coverage
flake8
flake8-pyproject
isort
PyInstaller
pydocstyle
pydocstyle[toml]
pytest
pytest_cover
pytest-mock
pytest-qt

